useDynLib(PICS)

import(methods)
importFrom(graphics, abline, axis, grid, layout, lines, mtext, par,
           plot, points, segments, stripchart, symbols, title)
importFrom(grDevices, grey)
importFrom(stats, dt)
importFrom(stats4, density, plot)
import(BiocGenerics)

importFrom(IRanges, IRanges, RangedData)
importClassesFrom(IRanges, IRanges, RangedData)
importMethodsFrom(IRanges, space, score, sort, unique, order, duplicated, start, end, lapply)

importMethodsFrom(GenomicRanges, strand)

importFrom(BSgenome, GenomeData)
importClassesFrom(BSgenome, GenomeData)

### export anything w/out a dot in front. 
exportPattern(".+")

exportClasses(segReads, segReadsList, pics, picsError, picsList)
exportMethods(show, summary, plot, density, chromosome, score, se, seF, seR,
              sigmaSqF, sigmaSqR, mu, delta, w, code, length, K,"[","[[")

# I export the default parameters for the PICS code, so that the user does not have to worry about them
# export(paraPriorH,paraPriorTF,paraEMH,paraEMTF)
export(paraPriorTF,paraEMTF)

